<!DOCTYPE html>
<html>
<body>

<h2>PREDICT SPECIES</h2>
<h5>THIS PAGE WILL PREDICT THE SPECIES OF IRIS FLOWER BASED ON THE INPUT DATA FOR FOLLOWING VARIABLES</h5>
<h5>PLEASE ENTER THE VALUES:</h5>
<form action="/submit" method='post'>
  <label for="SepalLengthCm">SepalLengthCm:</label><br>
  <input type="text" id="SepalLengthCm" name="SepalLengthCm" value="0"><br>
  <label for="SepalWidthCm">SepalWidthCm:</label><br>
  <input type="text" id="SepalWidthCm" name="SepalWidthCm" value="0"><br><br>
  <label for="PetalLengthCm ">PetalLengthCm:</label><br>
  <input type="text" id="PetalLengthCm" name="PetalLengthCm" value="0"><br><br>
  <label for="PetalWidthCm">PetalWidthCm:</label><br>
  <input type="text" id="PetalWidthCm" name="PetalWidthCm" value="0"><br><br>
  <input type="submit" value="SUBMIT_AND_PREDICT_SPECIES">
</form> 

<p>Click the "PREDICT_SPECIES" button, the form-data will be sent to a page with url "/submit".</p>

</body>
</html>

<!-- <label for="Science">Science:</label><br>
<input type="text" id="science" name="science" value="0"><br>
<label for="Maths">Maths:</label><br>
<input type="text" id="maths" name="maths" value="0"><br><br>
<label for="C ">C:</label><br>
<input type="text" id="c" name="c" value="0"><br><br>
<label for="datascience">Data Science:</label><br>
<input type="text" id="datascience" name="datascience" value="0"><br><br>
<input type="submit" value="Submit"> -->